html{
    height:600px;
    width:800px;
   
    
}
body{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
    display:flex;
    justify-content:center;
    flex-direction: column;
    width:100%;
}
li{
    display:flex;
    justify-content: space-between;
}
.bookmarks-list{
    color:red;
}
.no-image{
    width:21px;
    height:21px;

}
.bookmark-item{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width:100vw;
    max-width:100%;  /* added */

}
a{
    text-decoration: none;
    color: black;
}
