* {
    /* border:1px solid black; */
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.no-image {
    height: 16px;
    width: 16px;
}

#edit {
    float: center;
}

#edit:hover {
    background-color: #e6e6e6;
}

details {
    cursor: pointer;
}
summary{
    display:flex;
    align-items:center;
}
.bookmark-item {
    list-style: none;
    padding-left: 20px;
    padding-top: 9px;
    display:flex;
    justify-content:space-around;
}
.bookmark-item span {
    width: 50%; 
}

a {
    text-decoration: none;
    color:inherit;
}

details > summary{
    list-style: none;
}

details[open] {
    /* background-color:red; */
}
.detailspTag{
    display:inline;
}
.buttons{
    display:flex;
    justify-content: flex-end;
    margin-right:50px;
}

